/* TODO: Add validation
- style change for validation
- password check for javascript
- font styling for middle and top section
- responsive display 
*/

:root {
  --main-bg-color: #f5c8cd;
  --secondary-color: #ffe2e2;
  --font-color: #f6f6f6;
  --accent-color: #8785a2;
  color: black;
}

html {
  height: 100%;
}

body {
  padding: 0%;
  margin: 0;
  display: flex;
  height: 100%;
}

.left {
  position: relative;
  width: 33%;
  height: 100%;
}

.banner {
  display: flex;
  color: white;
  font-size: 4rem;
  padding: 15px 0;
  align-items: center;
  gap: 1vw;
}

.right {
  width: 67%;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: var(--main-bg-color);
  height: 100%;
}

.middle {
  background-color: var(--secondary-color);
  height: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom {
  background-color: var(--main-bg-color);
  height: 100%;
  padding-top: 20px;
  padding-left: 50px;
}

img {
  height: 100%;
}

form {
  display: flex;
  width: 60%;
  padding-left: 50px;
}

input {
  position: relative;
  padding: 6px 10px;
  margin: 8px 0;
  border-style: solid;
  border-color: var(--main-bg-color);
  border-radius: 4px;
  opacity: 0.8;
}

.section {
  display: flex;
  /* position: relative; */
  justify-content: center;
  gap: 10%;
}

.input {
  position: relative;
  display: flex;
  flex-grow: 1;
}

input:focus {
  outline: none;
  border-color: var(--accent-color);
  border-style: solid;
  border-radius: 4px;
}

.input > label {
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: -10px;
}

.input > input {
  flex-grow: 1;
}

.center {
  width: 100%;
  height: 100%;
}

.banner {
  display: flex;
  position: absolute;
  top: 100px;
  height: 100px;
  width: 100%;
  background-color: var(--accent-color);
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 30px;
  border-color: white;
  color: white;
  background-color: #8785a2;
  border-radius: 10px;
  border-style: solid;
}

button:hover {
  background-color: white;
  color: var(--accent-color);
  border-color: var(--accent-color);
  transition-duration: 0.4s;
}
